@using BlogEngine.Core

@helper CurrentClass(string pg)
{
    var current = "class=\"content-box-selected\"";
    if (Request.Path.ToLower().Contains(pg.ToLower()))
    {
        __razor_helper_writer.Write(current);
    }
}

@helper InstalledThemes()
{
    var path = Server.MapPath(string.Format("{0}themes/", Utils.ApplicationRelativeWebRoot));
    var loaderSrc = Path.Combine(BlogEngine.Core.Utils.ApplicationRelativeWebRoot, "pics/ajax-loader.gif");

    var themePic = "";
    var mobilePic = "";

    themePic = File.Exists(Path.Combine(path, BlogSettings.Instance.Theme, "theme.png")) ?
        string.Format("{0}themes/{1}/theme.png", Utils.ApplicationRelativeWebRoot, BlogSettings.Instance.Theme) :
        Utils.ApplicationRelativeWebRoot + "pics/Theme.png";

    mobilePic = File.Exists(Path.Combine(path, BlogSettings.Instance.MobileTheme, "theme.png")) ?
        string.Format("{0}themes/{1}/theme.png", Utils.ApplicationRelativeWebRoot, BlogSettings.Instance.MobileTheme) :
        Utils.ApplicationRelativeWebRoot + "pics/Theme.png";
    
    <h2>Current</h2>
    <div class="installed-themes">
        <ul class="gallery Theme">
            <li>
                <div class="ext">
                    <div class="ext-img">
                        <img src="@themePic" class="thumbnail" alt="current theme" />
                    </div>
                    <div class="ext-prop">
                        <h2>Current theme: @BlogSettings.Instance.Theme</h2>
                        <div class="properties">
                            <p>Author: unknown</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ext">
                    <div class="ext-img">
                        <img src="@mobilePic" class="thumbnail" alt="mobile theme" />
                    </div>
                    <div class="ext-prop">
                        <h2>@Resources.labels.mobileTheme: @BlogSettings.Instance.MobileTheme</h2>
                        <div class="properties">
                            <p>Author: unknown</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
   
    <h2>Available</h2>
    <div class="available-themes">
        <ul class="gallery Theme">
        @foreach (var theme in Blog.CurrentInstance.InstalledThemes)
        {
        <li id="@theme.Id">
            <div class="ext">
                <div class="ext-img">
                    <img src="@theme.IconUrl" class="thumbnail" alt="theme" />
                </div>
                <div class="ext-prop">
                    @if(!string.IsNullOrWhiteSpace(theme.Version)){
                    <h2>@theme.Id @theme.Version</h2> 
                    }
                    else
                    {
                    <h2>@theme.Id</h2>
                    }
                    <div class="properties">
                        @if (!string.IsNullOrWhiteSpace(theme.Description))
                        {
                        <p>@theme.Description</p>   
                        }
                        @if (!string.IsNullOrWhiteSpace(theme.Tags))
                        {
                        <p>Tags: @theme.Tags</p>   
                        }
                        @if (!string.IsNullOrWhiteSpace(theme.Authors))
                        {
                         <p>Authors: @theme.Authors</p>   
                        }
                        else
                        {
                        <p>Authors: unknown</p>
                        }
                        <p>
                            <a href="" onclick="SetCurrentTheme('@theme.Id','false'); return false;">Set As Current Theme</a>&nbsp;|
                            <a href="" onclick="SetCurrentTheme('@theme.Id','true'); return false;">Set As Mobile Theme</a>&nbsp;|
                            <a href="" onclick="window.open('@Path.Combine(Blog.CurrentInstance.RelativeWebRoot, "?theme=")@theme.Id','themepreview','width=1000,height=700,scrollbars=yes,resizable=yes'); return false">Preview</a>
                        </p>
                        <p>
                            <a href="" onclick="UninstallPackage('@theme.Id'); return false;">Uninstall</a>
                            <img class="loader2" src="@loaderSrc" alt="loader" />
                        </p>
                    </div>
                </div>
            </div>
        </li>
        }
        </ul>
    </div>
}