@using BlogEngine.Core
@using BlogEngine.Core.Web.Extensions
@{ 
    Page.Title = Resources.labels.extensions;
    Layout = "../_Layout.cshtml";

    var extensions = ExtensionManager.Extensions.Where(x => x.Key != "MetaExtension").ToList();

    extensions.Sort(
        (e1, e2) => e1.Value.Priority == e2.Value.Priority ? string.CompareOrdinal(e1.Key, e2.Key) : e1.Value.Priority.CompareTo(e2.Value.Priority));

    List<ManagedExtension> manExtensions = new List<ManagedExtension>();

    foreach (KeyValuePair<string, ManagedExtension> ext in extensions)
    {
        var oExt = ExtensionManager.GetExtension(@ext.Key);
        manExtensions.Add(oExt);
    } 
}

<div class="content-box-outer">
	<div class="content-box-right">
        <ul>
            @foreach (var x in manExtensions)
            {
                if (x.Settings.Count > 0 && x.Settings[0] != null && x.ShowSettings != false)
                {
                    <li><a href="@Href("~/admin/Extensions/Settings.aspx?ext=")@x.Name">@x.Name</a></li>
                }
            }
        </ul>
	</div>
	<div class="content-box-left">
        
        <div>@RazorHelpers.ExtensionList(true)</div>
        
        <div>@RazorHelpers.ExtensionList(false)</div>
	</div>
</div>
